{:paths ["src/clj" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.0"}
        ring/ring-core            {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter   {:mvn/version "1.13.0"}
        metosin/reitit            {:mvn/version "0.7.2"}
        metosin/muuntaja          {:mvn/version "0.6.10"}}

 :aliases
 {;; Run the backend server: clojure -M:server
  :server {:main-opts ["-m" "leonid.server"]}

  ;; ClojureScript build tooling (shadow-cljs reads :dev deps via deps.edn)
  :dev {:extra-paths ["src/cljs"]
        :extra-deps {thheller/shadow-cljs {:mvn/version "2.28.20"}
                     reagent/reagent      {:mvn/version "1.2.0"}}}}}
